{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <div class="form-container">
        <form class="register-form">
            <h2>Register</h2>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit" class="btn">Register</button>
            <p>Already have an account? <a href="/login">Login</a></p>
        </form>
    </div>
</body>
</html> --}}


<link rel="stylesheet" href="/css/forms.css">
<title>Registrarse</title>
<h2>{{__ 'Registrarse'}}</h2>

{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}

<div class="mantener"> 
<form action="/register" method="POST" class="form">
  <div class="ll">
    <label for="username">{{__ 'Username'}}:</label>
    <input type="text" id="username" name="username" value="{{username}}" required>
  </div>
  <div>
    <label for="email">{{__ 'Email'}}:</label>
    <input type="email" id="email" name="email" value="{{email}}" required>
  </div>
  <div>
    <label for="password">{{__ 'Password'}}:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="password2">{{__ 'ConfirmPassword'}}:</label>
    <input type="password" id="password2" name="password2" required>
  </div>
  <div>
    <label>{{__ 'UserType'}}:</label>
    <div>
      <input type="radio" id="userTypeBlind" name="userType" value="blind" required>
      <label for="userTypeBlind">{{__ 'BlindUser'}}</label>
    </div>
    <div>
      <input type="radio" id="userTypeVolunteer" name="userType" value="volunteer" required>
      <label for="userTypeVolunteer">{{__ 'VolunteerUser'}}</label>
    </div>
  </div>
  <button type="submit">{{__ 'Register'}}</button>
</form>
</div>
<p>{{__ 'AlreadyHaveAccount'}} <a href="/login">{{__ 'Login'}}</a></p>
