<h2>Mis Reservas</h2>
{{#if reservations.length}}
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Voluntario</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each reservations}}
            <tr>
                <td>{{formatDate this.date}}</td>
                <td>{{this.time}}</td>
                <td>{{this.volunteer.name}}</td>
                <td>{{this.status}}</td>
                <td>
                    {{#if this.canCancel}}
                        <form action="/reservations/cancel/{{this.id}}" method="POST">
                            <button type="submit">Cancelar</button>
                        </form>
                    {{/if}}
                    {{#if this.canReview}}
                        <a href="/reviews/create/{{this.id}}">Dejar Reseña</a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>No tienes reservas actualmente.</p>
{{/if}}